.cardLevels {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    height: 450px;
    margin: auto;
    text-align: center;
    /* font-family: arial; */
    background-color: #4f7942;

}
.button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 60%;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

.button:hover {
    opacity: 0.8;
}